*{
margin-left:-2px;
margin-bottom:2px}

Body{
	Background:#1C1C1C;
	
}
.fotos{
	position:absolute;
	left:5.6250em;
    display: flex;
	flex-wrap: wrap;
	gap:0.6250em;
    
}

.fotos-item{
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition:transform .5s;
    border-radius: 20px;
}

.fotos-item:hover{

    transform:scale(1.1);
}

.cre{
	position:absolute;
	top:810px;
	color:white;
	Background-image:url("img/foo.jpg") ;
width:100%;
text-align:center;	
}


	

.git-img{
	width:30px;
	height:30px;
	
}
.btn-7 {
	position:absolute;
	left:10px;
	bottom:600px;
	border-radius:20%;
	width:100px;
background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}


.btn-7:after {
	
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: black;
 
}
